{
  "env": {
    "node": true
  },
  "extends": "airbnb",
  "plugins": [
    "mocha",
    "chai-expect"
  ],
  "rules": {
    "react/require-extension": 0,
    "mocha/no-exclusive-tests": "error",
    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 1
  }
}

